<%= div_for comment do %>
<div class=" uk-link-muted uk-comment">
	<div class="uk-comment-header">
  <div class="uk-comment-avatar"><i class="uk-icon-user uk-icon-large"></i></div>
    <%= comment.email.split("@")[0].capitalize %>
<div class="uk-comment-meta"><%= distance_of_time_in_words_to_now(comment.created_at)%> ago
     <% if comment.owned_by? current_user %>
<%= link_to  [@article, comment], :confirm => 'Are you sure?', :method => :delete do %>
<i class="uk-icon-trash"></i>
<% end %>
    <% end %>
</div>
<div class="uk-comment-body">
  <%= comment.body %>
</div>
</div>
</div>
<% end %>