
<%= div_for article do %>
	<article class="uk-article uk-margin-bottom">
  <span class="uk-link-muted uk-float-right">
    <% if can? [:update, :destroy], @article %>
    <%= link_to edit_article_path(@article) do %>
    <i class="uk-icon-pencil"></i>
    <% end %>
    <span> | </span>
        <%= link_to @article, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="uk-icon-trash"></i>
        <% end %>
          <% end %>
          </span>
            <span class="uk-article-title"><%= article.title %></span>

    <p class="uk-article-meta">
                <i class="uk-icon-clock-o"></i>
                <%= distance_of_time_in_words_to_now(article.published_at) %>
                ago
            </p>
    <p class="uk-article-lead"><%= @article.excerpt %></p>
    <hr class="uk-article-divider">
</article>
    <%= article.body.html_safe  %>
    <span class="uk-float-right">
    <% @article.categories.each do |category|%>
    <span class="uk-badge" ><%= category.name %></span>
    <% end %>
    </span>
<% end %>
