<%= form_for @article, :html => {:class => 'uk-form'} do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% @article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<form class="uk-form data-no-turbolink">
<div class="uk-form-row">
  <%= f.text_field :title, :class => "uk-width-1-1", :placeholder => "Title"%>
</div>
<div class="uk-form-row">
  <%= f.text_area :body, :class => "ckeditor", :id =>"body", :rows => "50" %>
</div>
<div class="uk-form-row">
  <%= f.text_area :excerpt, :class =>"uk-width-1-1", :rows => "3", :placeholder => "Excerpt" %>
</div>
<div class="uk-form-row">
  <%= f.text_field :location, :class =>"uk-width-1-1", :placeholder => "Location" %>
</div>
<div class="uk-form-row">
  <%= f.label "Categories" %><br />
<%= select_tag "article[category_ids][]", options_from_collection_for_select(Category.all, "id", "name", @article.categories.ids), class: "select2", multiple: "multiple",  style: "width: 100%"%>
</div>
<div class="uk-form-row">
  <%= f.label :published_at %><br>
  <%= f.datetime_select :published_at%>

</div>
<div class="uk-form-row">
  <%= f.submit class: 'uk-button'%>
</div>
</form>
<% end %>