<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<nav class="uk-navbar">
    <div class="uk-navbar-brand">BLOG</div>
    <ul class="uk-navbar-nav">
        <li class="uk-active"><a href=<%=root_path%>><i class="uk-icon-home uk-icon-medium"></i></a></li>
        <li class="uk-parent"><a href=<%= new_article_path %> data-no-turbolink>CREATE</a></li>
    </ul>
    <!-- <div class="uk-navbar-content"><a href="">CREATE</a></div> -->
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <%if current_user%>

        <li class="uk-parent" data-uk-dropdown="{mode:'click'}"><a href=""><i class="uk-icon-cog uk-icon-medium"></i></a>
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li>
                        <%= link_to users_path do %>
                        <i class="uk-icon-users"> Users</i>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to categories_path do %>
                        <i class="uk-icon-tags"> Categories</i>
                        <% end %>
                    </li>
                </ul>
            </div>
        </li>

        <li class="uk-parent" data-uk-dropdown="{mode:'click'}"><a href=""><i class="uk-icon-bars uk-icon-medium"></i></a>
                <div class="uk-dropdown uk-dropdown-navbar">
                  <ul class="uk-nav uk-nav-navbar">
                      <li class="uk-nav-header"><%= current_user.email %></li>
                      <li>
                        <%= link_to root_path do %>
                        <i class="uk-icon-user"> Profile</i>
                        <% end %>
                    </li>
                </ul>
                <ul class="uk-nav uk-nav-navbar">
                    <li>
                        <%= link_to destroy_user_session_path, :method => :delete do %>
                        <i class="uk-icon-sign-out"> Logout</i>
                        <% end %>
                    </li>
                </ul>
            </div>
        </li>

        <%else%>
                <li class="uk-parent" data-uk-dropdown="{mode:'click'}"><a href=""><i class="uk-icon-bars uk-icon-medium"></i></a>
                <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar">
                    <li>
                        <%= link_to new_user_session_path  do %>
                        <i class="uk-icon-sign-in"> Login</i>
                        <% end %>
                    </li>
                </ul>
            </div>
        </li>
        <% end%>
    </ul>
</div>
</nav>
<body>
    <div class="uk-width-7-10 uk-container-center uk-margin-top">
        <%if notice.present?%>
        <div class="uk-alert uk-alert-success" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            <%= notice %>
        </div>
        <% elsif notice.present? %>
        <div class="uk-alert uk-alert-warning" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            <%= alert if alert.present?%>
        </div>
        <% end %>

        <%= yield %>
    </div>
</body>
</html>
